{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "globals": {
    "window": true
  },
  "rules": {
    "max-len": [
      "warn",
      120
    ],
    "import/no-unresolved": [
      "error",
      {
        "commonjs": true,
        "ignore": [
          "^~static",
          "^~components",
          "^~templates"
        ]
      }
    ]
  }
}
