.masthead {
    &__title {
        color: $white;
        font-family: 'comic_runes';
        font-size: 3.375em;
        margin: 0;
        padding: 1rem 0;
        text-align: center;

        @include breakpoint(min-width 1024px) {
            font-size: 5.063em;
        }

        a:hover {
          text-decoration: none;
        }
    }
}
