//@import "../../node_modules/normalize.css/_normalize.css";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "shared/mixins";
@import "atoms";
@import "molecules";
@import "organisms";
@import "templates";
@import "pages";

@font-face {
    font-family: 'LiberationSans';
    src: url('/static/assets/fonts/LiberationSans-Regular.woff') format('woff'),
         url('/static/assets/fonts/LiberationSans-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background: url("/static/assets/img/concrete_seamless.png") repeat;
    font-size: 15px;
    position: relative;

    @include breakpoint(min-width 1024px) {
        font-size: 16px;
    }

    &::after {
      content: "";
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/SantaCruz-CuevaManos-P2210651b.jpg/1200px-SantaCruz-CuevaManos-P2210651b.jpg");
      background-size: 100% auto;
      height: 100%;
      filter: grayscale(100%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;
    }
}

body {
    background-color: rgba($black, 0.9);
    color: $white;
    font-family: 'LiberationSans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.45;
    text-shadow: 1px 1px 1px black;
}
