@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "shared/mixins";
@import "atoms";
@import "molecules";
@import "organisms";
@import "templates";
@import "pages";

@font-face {
  font-family: 'comic_runes';
  src: url('/static/assets/fonts/comicrunes-webfont.woff2') format('woff2'),
       url('/static/assets/fonts/comicrunes-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    position: relative;

    @include breakpoint(min-width 1024px) {
        font-size: 16px;
    }
}

body {
    background-color: rgba(0, 0, 0, 0.99);
    color: $white;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.45;
}
