.navigation {
    height: 65px;

    &__menu {
        display: flex;
        height: 100%;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__item {
      height: 100%;
      margin: 0 1rem;
      width: 60px;
      text-align: center;

      @include breakpoint(min-width 1024px) {
        margin: 0 2rem;
      }
  }

  &__link {
      color: $white;
      display: block;
      height: 100%;

      svg {
        fill: currentColor;
      }

      &:hover,
      &.current {
          text-decoration: none;
      }

      &.to-manifest {
          &.is-active,
          &:hover {
            color: $blue-500;
            border-bottom: 2px solid $blue-500;
          }
      }

      &.to-photos {
          &.is-active,
          &:hover {
            color: $magenta-500;
            border-bottom: 2px solid $magenta-500;
          }
      }

      &.to-attributions {
          &.is-active,
          &:hover {
            color: $yellow-500;
            border-bottom: 2px solid $yellow-500;
          }
      }

      &.to-downloads {
          &.is-active,
          &:hover {
            color: $green-500;
            border-bottom: 2px solid $green-500;
          }
      }

      .i,
      .icon,
      span {
          vertical-align: middle;
      }
  }
}
